<header class="text-gray-400 dark:bg-gray-900 dark:text-white body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font items-center mb-4 md:mb-0">
            <div class="ml-3 text-xl">
                <span class="font-medium tracking-wide truncate">
                    Expense Tracker
                </span>
                <span class="text-purple-700 font-black truncate">.</span>
            </div>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center gap-2 md:gap-0">
            <a class="md:mr-5 hover:text-white btn-primary" routerLink="dashboard"
                routerLinkActive="active">Dashboard</a>
            <a class="md:mr-5 hover:text-white btn-primary" routerLink="transaction"
                routerLinkActive="active">Transaction
                History</a>
            <a class="md:mr-5 hover:text-white btn-primary" routerLinkActive="active">Add Transaction</a>
            <!-- <ng-container *ngIf="!authService.isUserLoggedIn()">
                <a class="md:mr-5 btn-primary" routerLink="/auth/login" routerLinkActive="active">
                    <div class="flex flex-wrap">
                    Login
                    <span class="material-icons">lock</span>
                    </div>
                </a>
            </ng-container> -->
            <button class="flex transition-transform hover:scale-125 align-middle"
                (click)="commonService.darkMode.set(!commonService.darkMode())">
                <span *ngIf="!commonService.darkMode()" class="material-icons">dark_mode</span>
                <span *ngIf="commonService.darkMode()" class="material-icons">light_mode</span>
            </button>
        </nav>
    </div>
</header>