<div
    class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-baseline justify-between mb-4 gap-2">
        <h5 class="text-lg font-bold text-gray-900 dark:text-white truncate">Recent Transactions</h5>
        <a routerLink="/transaction" class="text-sm font-medium text-purple-600 dark:text-purple-500 whitespace-nowrap">
            View all
        </a>
    </div>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <ng-container *ngFor="let item of recentTransactions">
                <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                        <!-- <div class="flex-shrink-0">
                            <img class="w-8 h-8 rounded-full"
                                src="./assets/image/person_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png"
                                (error)="onImageNotFound($event)" alt="Neil image">
                        </div> -->
                        <div class="flex-1 min-w-1">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                {{item.name | titlecase}}
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                {{item.category | titlecase}}
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold"
                            [ngClass]="{'text-income': item.status == 'income', ' text-expense': item.status == 'expense'}">
                            {{item.amount | currency}}
                        </div>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>