<section class="px-8 min-h-screen">
    <div class="flex flex-row p-6 justify-evenly">
        <div class="grid grid-cols-2 gap-4">
            <ng-container *ngFor="let item of cardsDetails">
                <app-card [cardTitle]="item.title" [description]="item.amount"></app-card>
            </ng-container>
        </div>
    </div>
    <div class="flex flex-row p-6 justify-between">
        <div class="hidden md:block">
            CHart
        </div>
        <app-recent-transactions></app-recent-transactions>
    </div>
</section>